*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: black ;
}

.video{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 115%;
    z-index: -1;
}

.card{
    width:90%;
    max-width: 480px;
    background: transparent;
    color: rgb(227, 220, 6);
    margin: 98px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.999);
    text-shadow:0 0 15px rgba(0,0,0,0.9) ;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    background: #ebfffc;
    outline: 0;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;

}
.search button {
    height: 45px;
    width: 60px;
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    cursor: pointer;

}

.search button img {
    width: 25px;

}

.weather h1{
    font-size: 60px;
    font-weight: 500;
    

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.weather-icon{
    width: 170px;
    margin-top: 10px;
   
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.2rem;
    
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

}
.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    margin-top: -6px;
}

.weather{
    display: none;
}
.error{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    display: none;
    
}